        <!-- BOTONES -->
        <div id="configuracion-cont" class="ui-content-box">
        
			<div class="config">
            	<p>Cuando Llega? Version 2.0.1</p>
	        </div>
        	<div class="config">
            	<p>DESARROLLO</p>
	            <a onclick="app.loadUrl('http://www.urucas.com', { openExternal:true });"><img src="img/logo-urucas.jpg"></a>
	            <a onclick="app.loadUrl('http://www.estudiohedra.com', { openExternal:true });"><img src="img/logo-hedra.jpg"></a>
            </div>
        	<div class="config">
            	<p>Plataforms</p>
	            <a onclick="app.loadUrl('http://urucas.com/#cuandollega', { openExternal:true });"><img src="img/logo-android.jpg"></a>
	            <a onclick="app.loadUrl('http://urucas.com/#cuandollega', { openExternal:true });"><img src="img/logo-ios.jpg"></a>
            </div>
            
        </div>
