<div id="consultar">
	
	<select id="consultar-linea" class="ui-select ui-select-linea">
		<option>Seleccionar linea</option>
	</select>
	<div class="ui-line"></div>

	<select id="consultar-calle" class="ui-select">
		<option>Seleccionar calle</option>
	</select>

	<select id="consultar-interseccion" class="ui-select ui-select-interseccion">
		<option>Seleccionar interseccion</option>
	</select>

	<select id="consultar-nrosparada" class="ui-select ui-select-parada">
		<option>Seleccionar parada</option>
	</select>
	
	<div class="ui-line"></div>
	
	<div class="ui-box">
		<label>Numero de parada</label><br />
		<input type="text" id="consultar-nroparada" class="ui-input-text" />
	</div>

	<button class="ui-button" onclick="app.consultar()">Consultar</button>
</div>
