<div id="recorridos-container">

	<select id="recorrido-linea" class="ui-select ui-select-linea" onchange="app.loadRecorrido();">
		<option value="0">Seleccionar linea</option>
		<option value="101 Negra">101 Negra</option>
		<option value="101 Roja">101 Roja</option>
		<option value="102 Negra">102 Negra</option>
		<option value="102 Roja">102 Roja</option>
		<option value="103 Negra">103 Negra</option>
		<option value="103 Roja">103 Roja</option>
		<option value="106">106</option>
		<option value="106 Ibarlucea">106 Ibarlucea</option>
		<option value="107 Distrito Sur">107 Distrito Sur</option>
		<option value="107 Necochea">107 Necochea</option>
		<option value="110">110</option>
		<option value="112 Negra">112 Negra</option>
		<option value="112 Roja">112 Roja</option>
		<option value="113">113</option>
		<option value="115">115</option>
		<option value="116">116</option>
		<option value="120">120</option>
		<option value="122 Roja">122 Roja</option>
		<option value="122 Verde">122 Verde</option>
		<option value="123">123</option>
		<option value="125">125</option>
		<option value="126 Negra">126 Negra</option>
		<option value="126 Roja">126 Roja</option>
		<option value="127">127</option>
		<option value="128 Roja">128 Roja</option>
		<option value="128 Negra">128 Negra</option>
		<option value="129">129</option>
		<option value="130">130</option>
		<option value="131">131</option>
		<option value="132">132</option>
		<option value="133 Negra">133 Negra</option>
		<option value="133 Verde">133 Verde</option>
		<option value="134">134</option>
		<option value="135">135</option>
		<option value="136">136</option>
		<option value="137">137</option>
		<option value="138">138</option>
		<option value="139">139</option>
		<option value="140">140</option>
		<option value="141">141</option>
		<option value="142 Negra">142 Negra</option>
		<option value="142 Roja (5 a 23hs)">142 Roja (5 a 23hs)</option>
		<option value="143 Negra">143 Negra</option>
		<option value="143 Roja">143 Roja</option>
		<option value="144 Negra">144 Negra</option>
		<option value="144 Roja">144 Roja</option>
		<option value="145">145</option>
		<option value="145 Perez">145 Perez</option>
		<option value="146 Negra">146 Negra</option>
		<option value="146 Roja">146 Roja</option>
		<option value="153 Negra">153 Negra</option>
		<option value="153 Roja">153 Roja</option>
		<option value="35/9 Negra">35/9 Negra</option>
		<option value="35/9 Roja">35/9 Roja</option>
		<option value="35/9 Verde">35/9 Verde</option>
		<option value="Enlace 122">Enlace 122</option>
		<option value="Enlace Barrio Santa Lucia">Enlace Barrio Santa Lucia</option>
		<option value="Enlace Noroeste">Enlace Noroeste</option>
		<option value="K">K</option>
		<option value="Ronda del Centro">Ronda del Centro</option>
	</select>

	<div id="recorrido-canvas" class="ui-box ui-box-nopadding">
		<div id="map-canvas"></div>
	</div>
	<div class="leyendas ui-box ui-box-nopadding">
		<div class="leyenda"><span class="ida"></span>Ida</div>
		<div class="leyenda"><span class="vuelta"></span>Vuelta</div>
		<div style="clear:both;"></div>
	</div>
</div>
