<div id="consultar">
	<div class="ui-title-box">
		<a id="consultar-refresh" onclick="etr.cuandollega();"><img style="margin-top:14px;margin-right:10px;float:right;" src="img/refresh.png" width="36px"></a>
        <p id="linea-num">Linea 120</p>	
    </div>

    <div class="ui-content-box">
        <div id="result-container" style="padding-top:20px;padding-bottom:15px;">
        </div>
        <input onclick="etr.addFavorito();" type="button" id="fav-button" class="ui-button" value="Agregar a favoritos" />
    </div>
</div>
